body {
  margin: 0;
  font-family: "Book Antiqua", verdana, sans-serif;
  text-align: center;
  background-color: #97e5ef;
  color: white;
  font-size: 1.5em;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: 'Courgette', verdana, sans-serif;
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
  color: #4b90db;
}

a {
  color: #fcf876;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 10px;
  width: 15%;
}

.intro {
  margin: 5px;
  padding-bottom: 10px;
  position: relative;
  top: -10px;
}

.hello {
  font-weight: normal;
}

.sun {
  position: relative;
  right: 400px;
  height: 15em
}

.middle img {
  margin-top: 50px;
  height: 400px;
  width: 400px;
  border: 2px solid white;
  border-radius: 200px;
}

.profile p {
  margin-left: 300px;
  margin-right: 300px;
}

.mountain {
  position: relative;
  top: 25px;
  margin-bottom: 15px;
}

.cloud1 {
  position: absolute;
  top: -70px;
  right: 600px;
}

.cloud2 {
  position: absolute;
  top: 200px;
  left: 600px;
}

.lists {
  left: 30px;
}

.list1 {
  margin-left: 255px;
  margin-top: -31px;
}

.list2 {
  position: absolute;
  top: 1916px;
  right: 380px;
}

.skillsRow {
  width: 60%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.newSkills {
  width: 60%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.skillsRow img {
  height: 18%;
  width: 18%;
  border-radius: 50px;
  margin-right: 30px;
  float: left;
}

.newSkills img {
  height: 25%;
  width: 25%;
  margin-left: 30px;
  float: right;
  position: relative;
  top: 0;
}

.contEdu {
  text-align: justify;
}
